body {
    background-color: antiquewhite;
}

.blu {
    background-color: blue;
}
.giallo {
    background-color: yellow;
}
.giallo {
    background-color: yellow;
}

.bandiera {
    border: 1px solid black;
    width: 400px;
    height: 300px;
    position: relative;
}
.bandiera div {
    float: left;
    width: 400px;
    height: 300px;
}

.bandiera.svezia .r1,
.bandiera.svezia .r9 {
    width: 116.595px;

}
.bandiera.svezia .r1,
.bandiera.svezia .r2,
.bandiera.svezia .r3,
.bandiera.svezia .r4,
.bandiera.svezia .r5,
.bandiera.svezia .r9,
.bandiera.svezia .r10,
.bandiera.svezia .r11,
.bandiera.svezia .r12,
.bandiera.svezia .r13 {
    height: 116.595px;
}
.bandiera.svezia .r3,
.bandiera.svezia .r11 {
    width: 45px;
}
.bandiera.svezia .r5,
.bandiera.svezia .r13 {
    width: 238.4px;
}
.bandiera.svezia .r6,
.bandiera.svezia .r8 {
    width: 399.9997px;
    height: 12.4066px;
}
.bandiera.svezia .r7 {
    width: 400px;
    height: 45px;
}