body {
    background-color: antiquewhite;
}

.blu {
    background-color: blue;
}
.bianco {
    background-color: yellow;
}
.rosso {
    background-color: yellow;
}

.bandiera {
    border: 1px solid black;
    width: 400px;
    height: 300px;
    position: relative;
}
.bandiera div {
    float: left;
    width: 133.33px;
    height: 300px;
}