body {
    background-color: blanchedalmond;
}
div {
    width: 200px;
    height: 200px;
    background: red;
    transition: width 2s, height 4s, transform 1s;
  }
  
  div:hover {
    width: 400px;
    height: 400px;
    transform: rotate(12deg); transform: translate(20p,20px);
  }