body {
    background-color: blanchedalmond;
}
div {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 4s, transform 1s;
    transition: all 1s;
    transition-delay: 500ms;
    animation-name: example1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  div:hover {
    width: 400px;
    height: 400px;
    transform: rotate(12deg); transform: translate(50px,50px);
  }

  @keyframes example0 {
    from {background-color: blue;}
    to {background-color: orange;}
  }

  @keyframes example1 {    
    0%   {
      transform: translate(0px,0px);
      background-color:red;}
    25%  {
      transform: translate(200px,0px);
      background-color:yellow;}    
    50%  {
      transform: translate(200px,200px);
      background-color:blue;}   
    75%  {
      transform: translate(0px,200px);
      background-color:green;}   
    100% {
      transform: translate(0px,0px);
      background-color:red;}
  }